.card{
    border-radius: 1em;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn{
    border-radius: 2em;
}

.form-control{
    background-color: #e3eefc;
}

.form-select{
    background-color: #e3eefc;
}